/* Color codes and samples*/

.dark-blue {
  background-color: #252260;
  width: 200px;
  height: 100px;
}
.medium-blue {
  background-color: #676ce4;
  width: 200px;
  height: 100px;
}
.light-blue {
  background-color: #c0c0f6;
  width: 200px;
  height: 100px;
}
.yellow {
  background-color: #eeff04;
  width: 200px;
  height: 100px;
}

#expanding-cards-sample {
  display: flex;
  width: 90vw;
}

.expanding-cards {
  text-align: center;
  width: 60%;
  /* display: block;
  margin: 0 auto;
  position: relative; */
}

.panel {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: white;
  height: 80vh;
  flex: 0.2;
  transition: flex 500ms ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  margin: 0;
  opacity: 0;
  transition: opacity 200ms ease-in 300ms;
}

.panel.active {
  flex: 1;
}

.panel.active h3 {
  opacity: 1;
}

/* General */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

/* Navbar */

.navbar-expand-lg {
  background-color: #252260;
}

.header-logo {
  width: 150px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #c0c0f6;
}

/* Header */

.next-section {
  height: 350px;
  background-color: #676ce4;
}

#header {
  background-color: #252260;
  color: white;
}

.header-header {
  padding-top: 15%;
  text-align: left;
  font-size: 400%;
  display: block;
}

.header-date {
  padding-top: 15%;
  text-align: left;
  font-size: 200%;
  margin-top: 18%;
}

.image-col {
  text-align: right;
}

.header-text {
  text-align: left;
}

.header-image-1 {
  width: 100%;
  display: block;
}

.header-image-2 {
  width: 1005;
  display: block;
  padding-bottom: 10%;
  overflow: hidden;
}

.call-to-action-header {
  background-color: #eeff04;
  width: 200px;
  border-radius: 3px;
  margin: 20% 2%;
  padding: 2%;
  text-align: center;
  border-radius: 5%;
}

.call-to-action-header:hover {
  color: #676ce4;
}

.call-to-action-header-sponsor {
  background-color: #c0c0f6;
  width: 200px;
  border-radius: 3px;
  margin: 20% 2%;
  padding: 2%;
  text-align: center;
  border-radius: 5%;
  color: #fff;
}

/* Challenges */

/* Judging criteria */

/* Agenda */

/* Prizes */

.prizes {
  background-color: #eeff04;
  text-align: center;
}

.prize-amount {
  padding: 6% 0;
}

.prize-amount-other-prizes {
  padding-bottom: 6%;
}

.call-to-action-prizes {
  background-color: #252260;
  color: #fff;
  padding: 2% 6%;
  margin: 6% 0;
  border-radius: 15%;
}

.card {
  background-color: #eeff04;
}

.card-img-top {
  width: 150px;
  height: 150px;
  background-color: #676ce4;
  border-radius: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* border: 3px solid #676ce4; */
  margin: 0 auto;
}

/* About */

#about {
  background-color: #c0c0f6;
  text-align: center;
}

.about-dsai,
.about-d4sg {
  padding: 3% 2%;
  color: #252260;
}

.about-heading {
  padding: 3% 0;
}

.about-text {
  text-align: left;
  line-height: 2.5;
  color: rgb(82, 79, 79);
}

/* Become a sponor */

.becomeSponsor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
  background-color: #252260;
}

.becomeSponsor h1 {
  /* width: 25%; */
  margin: 25px auto;
}

.paragraph {
  max-width: 70%;
  margin: 25px auto;
}

.becomeSponsor p {
  margin: 50px auto;
  font-size: 25px;
}

.btnSponsor {
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #c0c0f6;
}

/* Become a sponor */

.becomeSponsor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;

  padding: 20px;
  background-color: #252260;
}

.becomeSponsor h1 {
  /* width: 25%; */
  margin: 25px auto;
}
.paragraph {
  max-width: 70%;
  margin: 25px auto;
}
.becomeSponsor p {
  margin: 50px auto;
  font-size: 25px;
}

.btnSponsor {
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #eeff04;
}

/* Existing sponsors */

/* Footer */

.footer {
  /* height: 300px; */
  background-color: #252260;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  width: 100%;
}
.footer-logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-image {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.footer-image img {
  width: 300px;
}

.social-medias {
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.social-medias a {
  color: #fff;
  text-decoration: none;
}

.social-medias a img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.footer-navigation {
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer-navigation ul {
  width: 600px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
}

.copyright {
  color: #fff;
  text-align: center;
}
@media (max-width: 962px) {
}
